@import "./colors";

@mixin btn($width, $height, $font-size) {
  border-radius: 6px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: $primary-color;
  background: $btn-color;
  width: $width;
  height: $height;
  font-size: $font-size;
  &:hover {
    background: darken($btn-color, 8%);
    transition: all 0.3s ease;
  }
}
