@import "./colors";
@import "./mixins";

@mixin input($width, $height) {
  width: $width;
  height: $height;
  border-radius: 5px;
  background-color: $secondary-color;
  padding-left: 5px;
  border: 1px solid black;
}
