@import "../assets/scss/reset";
@import "../assets/scss/index.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $secondary-color;
  margin-top: 60px;
}

h1 {
  font-size: 32px;
}
