@import "../assets/scss/reset";
@import "../assets/scss/index.scss";

#app {
  font-family: "Roboto";
  text-align: center;
  color: $primary-color;
  margin-top: 25px;
  margin-bottom: 15px;
}

body {
  background-color: $background-color;
}
