@import "../assets/scss/reset";
@import "../assets/scss/index.scss";

#app {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  color: $primary-color;
  margin-top: 50px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  color: $secondary-color;
  cursor: default;
}

body {
  background-color: $background-color;
}
